/* ---------------------------------------------------------------------
 Elements Styles
------------------------------------------------------------------------ */

html {
  background: var(--color-neutral-15-16);
  overflow: auto;
}

body,
button {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
}
