/* ---------------------------------------------------------------------
 Elements Styles
------------------------------------------------------------------------ */

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
}
