/* ---------------------------------------------------------------------
 Elements Styles
------------------------------------------------------------------------ */

html {
  overflow: auto;
}

body,
button {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
}
