
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: var(--color-accent);
  box-shadow: var(--shadow-normal);
  width: 64px;
  height: 64px;
}
