
.masthead {
  background: var(--color-primary);
  position: relative;
  z-index: 10;
  display: flex;
}

.masthead__branding,
.masthead__info {
  padding: var(--space-4x) 0 var(--space-3x) var(--space-3x);
}
