
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container-inner {
  flex: 1;
  min-height: 500px;
  max-width: 540px;
  max-height: 960px;
  height: 100%;
  position: relative;
  background: var(--color-neutral-15-16);
}
