

.container {
  min-height: var(--min-height);
  height: 100vh;
}

.container-inner {
  height: calc(100% - var(--ad-height));
  position: relative;
}

.container-ad {
  background: red;
  height: var(--ad-height);
}
