
.hList {
  list-style: none;
  display: inline-flex;
}

.hList--centered {
  align-items: center;
}

.hList--1x > * + * { margin-left: var(--space-1x); }
.hList--2x > * + * { margin-left: var(--space-2x); }
.hList--3x > * + * { margin-left: var(--space-3x); }
.hList--4x > * + * { margin-left: var(--space-4x); }
