{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <div class="container">
          <div class="container-inner" id="js-app">Loading...</div>
        </div>
    {{/content}}
{{/extend}}
