
:root {
  --base-font-size: 16px;
  --font-family: 'Source Sans Pro', sans-serif;

  --color-primary: #4A7CB2;
  --color-secondary: #2E4F6D;
  --color-accent: #FF8076;
  --color-ghost: rgba(0, 0, 0, 0.33);
  --color-neutral-12-16: #BBBBBB;
  --color-neutral-13-16: #CCCCCC;
  --color-neutral-14-16: #DDDDDD;
  --color-neutral-15-16: #EEEEEE;
  --color-neutral-16-16: #FFFFFF;

  --shadow-normal: 0 2px 10px var(--color-ghost);
  --shadow-thin: 2px 2px 0 var(--color-ghost);

  --space-1x: 2px;
  --space-2x: 4px;
  --space-3x: 8px;
  --space-4x: 16px;
  --space-5x: 32px;

  --tile-width: 48px;
  --tile-height: 48px;

  --weight-normal: 400;
  --weight-semibold: 600;
}
